#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .error{
    border: 1px solid rgb(226, 61, 61);
    color: rgb(226, 61, 61);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
  }
  
  .card {
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    margin: 1rem;
    border: 1px solid gray;
    padding: 10px;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  form{
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    input{
      display: block;
      margin: 10px;
    }
    input[type="submit"]{
      margin: 0 auto;
      background-color: blue;
      color: #fff;
      border: transparent;
      padding: .3rem .8rem;
      border-radius: 4px;
    }
  }
  body{
    background-color: #ebf0f2;
  }